<li>
 <%= link_to 'Todas', fields_path %>
</li>
<li>
 <%= link_to 'Pendientes', pending_fields_path %>
</li>
<li>
 <%= link_to 'Aceptadas', accepted_fields_path %>
</li>
<li>
 <%= link_to 'Rechazadas', rejected_fields_path %>
</li>
