@import "bootstrap";

@mixin box-shadow($top, $left, $blur, $spread, $color) {
  -webkit-box-shadow: $top $left $blur $spread $color;
  -moz-box-shadow: $top $left $blur $spread $color;
  box-shadow: $top $left $blur $spread $color;
}

body {
  padding-top: 60px;
  height: 100%;
}

html{
  height: 100%;
}

.container{
  min-height: 100%;
}

#map_canvas {
  @include box-shadow(0, 0, 5px, 5px, #DDD);
  width: 100%;
  height: 400px;
  margin: 15px 0;
}

input.wide{
  width: 100%;
}

footer {
  height: 153px;
  background: url(grass-pattern.jpg) repeat-x;
}
